:root {
    /* colors */
    --dark-blackish: hsl(219, 29%, 14%);
    --dark-grayish: hsl(217, 19%, 35%);
    --light-gray: hsl(0, 0%, 70%);
    --background: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --violet: hsl(263, 55%, 52%);
    --white: hsl(0, 0%, 100%);

    /* font */
    --font-stack: 'Barlow Semi Condensed', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    max-width: 1440px;
    padding: 0;
}

body {
    background-color: var(--background);
    font-family: var(--font-stack);
    font-size: 13px;
    font-weight: 500;
}

footer {
    text-align: center;
    padding: 1em;
}

/* Color styles */
.light-gray {
    color: var(--light-gray);
}

.text-white {
    color: var(--white);
}

/* Grid */
.s-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(250px, auto);
    padding: 2rem 10rem;

}

/* Cards */
.card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    padding: 2.2em 2.5em;
}

.quotation {
    background-image: url('../images/bg-pattern-quotation.svg');
    background-position: 80% 0%;
    background-repeat: no-repeat;
}

.card__title {
    font-size: 13px;
}

.card__description {
    font-size: 18px;
    font-weight: 600;
}

.card__subtitle,
.card__quote {
    color: var(--light-gray)
}

.card__figure {
    align-items: center;
    display: flex;
    gap: 10px;
}

.card__image {
    border-radius: 50%;
    border: 1px solid var(--light-gray);
    max-height: 35px;
    width: auto;
}


/* Card 1 */
.card:nth-child(1) {
    background-color: var(--violet);
    grid-column: 1 / 3;
    grid-row: 1;
}

/* Card 2 */
.card:nth-child(2) {
    background-color: var(--dark-grayish);
    grid-column: 3;
    grid-row: 1;
}

/* Card 3 */
.card:nth-child(3) {
    background-color: var(--white);
    color: var(--dark-grayish);
    grid-column: 4;
    grid-row: 1 / 3;
}

/* Card 4 */
.card:nth-child(4) {
    background-color: var(--white);
    color: var(--dark-grayish);
    grid-column: 1;
    grid-row: 2;
}

/* Card 5 */
.card:nth-child(5) {
    background-color: var(--dark-blackish);
    grid-column: 2 / 4;
    grid-row: 2;
}

/* Media queries */
@media screen and (max-width: 600px) {
    .s-grid {
        padding: 3rem 1rem 2rem 1rem;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .quotation {
        background-position: 95% 0%;
    }

    /* Card 1 */
    .card:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    /* Card 2 */
    .card:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    /* Card 3 */
    .card:nth-child(3) {
        grid-column: 1;
        grid-row: 5;
    }

    /* Card 4 */
    .card:nth-child(4) {
        grid-column: 1;
        grid-row: 3;
    }

    /* Card 5 */
    .card:nth-child(5) {
        grid-column: 1;
        grid-row: 4;
    }
}